@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body {
    background: -o-radial-gradient(3.59% 5.28%, 96.74% 276.79%, #F0F4FF 0%, #A5B6EE 100%);
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
    width: 100%;
    height: 100vh;
}

main {
    width: 400px;
    margin: 72px auto 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main img {
    width: 244px;
    margin-bottom: 60px;
}

article strong {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 312px;
}


.container {
    width: 400px;
    background: -o-linear-gradient(305.93deg, #5572BB 2.13%, #374B7C 102.97%);
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    -webkit-box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
            box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
    padding: 48px 44px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.timer {
    width: 312px;
}

article strong::after {
    content: "";
    display: block;
    background-image: url(./images/line.png);
    background-repeat: no-repeat;
    width: 312px;
    height: 2px;
    top: 23px;
    left: 0;
    position: relative;
}

.time {
    width: 284px;
    height: 98px;
    display: block;
    margin: 57px auto 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.time-hrs,
.time-min, 
.time-sec{
    width: 80px;
    height: 80px;
    background: url(./images/box.png) no-repeat;
    border: none;
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.time p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #A5B6EE;
}

.start {
    background: url(./images/start-disabled.png) no-repeat;
    border: none;
    width: 112px;
    height: 48px;
    cursor: pointer;
    margin-right: 12px;
}

.start.active {
    background: url(./images/start-default.png) no-repeat;
    border: none;
    width: 112px;
    height: 48px;
    cursor: pointer;
    margin-right: 12px;
}

.reset {
    background: url(./images/reset-disabled.png) no-repeat;
    border: none;
    width: 112px;
    height: 48px;
    cursor: pointer;
}

.reset.active {
    background: url(./images/reset-default.png) no-repeat;
    border: none;
    width: 112px;
    height: 48px;
    cursor: pointer;
}


.footer-cont {
    margin-top: 60px;
    text-align: center;
}

.footer-cont strong {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #8596BF;
}